/* ==========================================
   SPOTIFY CLONE - Estilos Principais
   ========================================== */

/* ==========================================
   RESET E CONFIGURAÇÕES GLOBAIS
   ========================================== */

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    letter-spacing: 1px;
}

body {
    background-color: #181818;
    font-size: 14px;
    min-width: 720px; /* Largura mínima para evitar quebra no layout */
}

/* ==========================================
   BARRA DE REPRODUÇÃO - Parte Inferior
   ========================================== */

/* Container fixo da barra de reprodução */
#nowPlayingBarContainer {
    width: 100%;
    background-color: #282828;
    bottom: 0;
    position: fixed;
    min-width: 620px;
    z-index: 100; /* Garantir que fique sobre outros elementos */
}

/* Barra de reprodução principal */
#nowPlayingBar {
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

/* Áreas laterais (esquerda e direita) */
#nowPlayingLeft,
#nowPlayingRight {
    width: 30%;
    min-width: 180px;
}

/* Área central com controles */
#nowPlayingCenter {
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nowPlayingBar .content {
    width: 100%;
    height: 57px;
}

.playerControls .buttons {
    margin: 0 auto;
    display: table;
}

.controlButton {
   background-color: transparent;
   border: none;
   vertical-align: middle;
}

.controlButton img {
    width: 20px;
    height: 20px;
}

.controlButton.play img,
.controlButton.pause img {
    width: 32px;
    height: 32px;
}

.controlButton:hover {
    cursor: pointer;
}

.progressTime {
    color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}

.playbackBar {
    display: flex;
}

.progressBar {
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
}

.progressBarBg {
    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progress {
    background-color: #a0a0a0;
    height: 4px;
    width: 0;
    border-radius: 2px;
}

.playbackBar .progressBar {
    margin-top: 3px;
}

#nowPlayingLeft .albumArtwork {
    height: 100%;
    max-width: 57px;
    margin-right: 15px;
    float: left;
    background-size: cover;
}

#nowPlayingLeft .trackInfo {
    display: table;
}

#nowPlayingLeft .trackInfo .trackName {
    margin: 6px 0;
    display: inline-block;
    width: 100%;
}

#nowPlayingLeft .trackInfo .artistName span {
    font-size: 12px;
    color: #a0a0a0;
}

.volumeBar {
    width: 180px;
    position: absolute;
    right: 0;
}

.volumeBar .progressBar {
    width: 125px;
}

#nowPlayingRight {
    position: relative;
    margin-top: 16px;
}


/* Index page Left Top Container STYLES ------------------------------------------------------*/

#topContainer {
    min-height: 100%;
    width: 100%;
}

#navBarContainer {
    background-color: #000;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#navBarContainer .navBar {
    padding: 25px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.logo img {
    width: 32px;
}

.navBar .logo {
    margin-bottom: 15px;
}
.navBar .group {
    border-top: 1px solid #a0a0a0;
    padding: 10px 0; 
}

.navBar .group .navItem {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    position: relative;
}

.navItem .navItemLink {
    color: #a0a0a0;
    text-decoration: none;
}

.navItemLink:hover {
    color: #fff;
   
}

.navItem .navItemLink .icon {
    position: absolute;
    right: 0;
    top: 6px;
    width: 25px;
}

/* Index page Center Container STYLES ------------------------------------------------------*/

#mainViewContainer {
    margin-left: 220px;
    padding-bottom: 90px;
    width: calc(100% - 220px);

}

#mainContent {
    padding: 0 20px;
}

.pageHeadingBig {
    padding: 20px;
    text-align: center;
}

.gridViewItem {
    display: inline-block;
    margin-right: 20px;
    width: 29%;
    max-width: 200px;
    min-width: 150px;
    margin-bottom: 20px;
}

.gridViewItem img {
    width: 100%;
}

.gridViewItem a {
    text-decoration: none;
}

.gridViewInfo {
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Album page Main STYLES ------------------------------------------------------*/

.entityInfo {
    padding: 40px 0 10px 0;
    display: inline-block;
    width: 100%;
}

.entityInfo .leftSection {
    width: 30%;
    float: left;
    max-width: 250px;
}

.leftSection img {
    width: 100%;
}

.entityInfo .rightSection {
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}

.entityInfo .rightSection h2 {
    margin-top: 0px;
}

.entityInfo .rightSection p {
    color: #939393;
    font-weight: 200;
}

/* Album page Song List STYLES ------------------------------------------------------*/

.tracklist {
    padding: 0;
}

.tracklistRow {
    height: 40px;
    padding: 15px 10px;
    list-style: none;
}
.tracklistRow .trackInfo span {
    color: #939393;
    font-weight: 200;
    display: block;
}

.tracklistRow .trackInfo .trackName {
    color: #fff;
    margin-bottom: 7px;
}


.tracklistRow:hover {
    background-color: #282828;
}

.tracklistRow .trackCount {
    width: 8%;
    float: left;
}

.tracklistRow .trackCount img {
    width: 20px;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}

.tracklistRow:hover .trackCount img {
    visibility: visible;
}

.tracklistRow .trackCount span {
    visibility: visible;
}

.tracklistRow:hover .trackCount span {
    visibility: hidden;
}

.tracklistRow .trackInfo {
    width: 75%;
    float: left;
}

.tracklistRow .trackOptions {
    width: 5%;
    float: left;
    text-align: right;
}

.tracklistRow .trackOptions .optionsButton {
    width: 15%;
    visibility: hidden;
}
.tracklistRow:hover .trackOptions .optionsButton {
    visibility: visible;
}

.tracklistRow .trackDuration {
    width: 12%;
    float: left;
    text-align: right;
}

/* Album - Add to Playlist page STYLES ------------------------------------------------------*/

.optionsMenu {
    position: fixed;
    background-color: #282828;
    width: 200px;
    border: 1px solid rgb(0, 0, 0, 0.15);
    border-radius: 3px;
    z-index: 1000;
    display: none;
}

.optionsMenu .item {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    font-weight: 400;
    color: rgb(147, 147, 147, 0.8);
    cursor: pointer;
    height: 45px;
    background-color: #282828;
    font-size: 14px;
}

.optionsMenu .item:hover {
    color: #fff;
    background-color: #333;
    border-color: #444;
}

.optionsMenu select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


/* Artist page Song List STYLES ------------------------------------------------------*/

.artistInfo {
    text-align: center;
}

.button {
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: transparent;
    font-weight: 500;
    letter-spacing: 2px;
    border: 2px solid #fff;
    border-radius: 500px;
    padding: 15px;
    -moz-window-dragging: 130px;
}

.button.green {
    background-color: #2ebd59;
    border-color: #2ebd59;
}

.borderBottom {
    border-bottom: 1px solid #939393;
    margin-bottom: 20px;
}

.trackListContainer h2, 
.gridViewContainer h2,
.artistsContainer h2 {
    text-align: center;
}

[role="link"] {
    cursor: pointer;
}

/* Search page STYLES ------------------------------------------------------*/

.searchContainer {
    background-color: #242424;
    padding: 20px 28px;
}

.searchContainer h4 {
    margin: 0;
    font-weight: 300;
    padding-bottom: 15px;
}

.searchContainer .searchInput {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 62px;
    letter-spacing: 2px;
}

input:focus {
    outline: none;
}

.searchResultRow {
    padding: 15px 10px;
}

.searchResultRow:hover {
    background-color: #282828;
}

.searchResultRow .arristName span {
    color: #fff;
}

.noResults {
    margin: 15px;
    display: block;
}


/* Your Music page STYLES ------------------------------------------------------*/

.buttonItems .button {
    display: block;
    margin: 0 auto 20px auto;
}

.playlistsContainer {
    padding: 10px 0;
}

.playlistImage {
    border: 3px solid #282828;
    padding: 10px;
}

/* Profile Settings page STYLES ------------------------------------------------------*/

.userInfo h1 {
    text-align: center;
}

.userDetails {
    padding: 20px;
}

.userDetails .container h2 {
    text-align: center;
}

.userDetails .container input[type="text"], 
.userDetails .container input[type="password"], 
.userDetails .container .button { 
    display: block;
    margin: 16px auto;
}

.userDetails .container input[type='text'],
.userDetails .container input[type='password'] {
    height: 50px;
    width: 100%;
    background: #1f1f1f;
    border: none;
    font-size: 18px;
    font-weight: 300;
    padding: 0 20px;
}

.userDetails .container .message {
    color: #2ebd59;
    font-weight: 300;
}

/* ==========================================
   RESPONSIVIDADE - Media Queries
   ========================================== */

/* Tablets e telas médias */
@media screen and (max-width: 1024px) {
    #mainViewContainer {
        margin-left: 180px;
        width: calc(100% - 180px);
    }

    #navBarContainer {
        width: 180px;
    }

    .gridViewItem {
        width: 45%;
        margin-right: 10px;
    }
}

/* Mobile - Telas pequenas */
@media screen and (max-width: 768px) {
    body {
        min-width: 100%;
    }

    #navBarContainer {
        width: 60px;
        overflow: hidden;
    }

    #navBarContainer:hover {
        width: 220px;
    }

    #mainViewContainer {
        margin-left: 60px;
        width: calc(100% - 60px);
    }

    #nowPlayingBarContainer {
        min-width: 100%;
    }

    #nowPlayingBar {
        flex-direction: column;
        height: auto;
    }

    #nowPlayingLeft,
    #nowPlayingCenter,
    #nowPlayingRight {
        width: 100%;
        min-width: 100%;
        margin-bottom: 10px;
    }

    .gridViewItem {
        width: 45%;
        margin-right: 5px;
        min-width: 120px;
    }

    .entityInfo .leftSection,
    .entityInfo .rightSection {
        width: 100%;
        float: none;
        padding: 10px;
    }

    .searchContainer .searchInput {
        font-size: 32px;
    }
}

/* Mobile muito pequeno */
@media screen and (max-width: 480px) {
    .gridViewItem {
        width: 100%;
        max-width: 100%;
    }

    .tracklistRow .trackInfo {
        width: 60%;
    }

    .tracklistRow .trackDuration {
        width: 15%;
    }

    .volumeBar {
        width: 120px;
    }

    .volumeBar .progressBar {
        width: 80px;
    }
}

/* ==========================================
   MELHORIAS DE PERFORMANCE
   ========================================== */

/* Suavizar transições */
.controlButton,
.navItemLink,
.tracklistRow,
.gridViewItem a,
.button {
    transition: all 0.2s ease-in-out;
}

/* Otimizar rendering de imagens */
img {
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

/* Melhorar performance de scroll */
#mainViewContainer {
    -webkit-overflow-scrolling: touch;
}

/* ==========================================
   UTILITÁRIOS
   ========================================== */

/* Classes auxiliares para desenvolvimento */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.hidden {
    display: none !important;
}

.visible {
    display: block !important;
}

/* Loading state */
.loading {
    opacity: 0.5;
    pointer-events: none;
}

/* Acessibilidade */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

/* Focus visível para acessibilidade */
a:focus,
button:focus,
input:focus {
    outline: 2px solid #2ebd59;
    outline-offset: 2px;
}